<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="s_included" value="ß,s" />
		<add key="S_caps_included" value="ß,S" />
		<add key="a_included" value="à,á,â,ä,æ,ã,å,ā,a" />
		<add key="A_caps_included" value="À,Á,Â,Ä,Æ,Ã,Å,Ā,A" />
		<add key="c_included" value="ç,c" />
		<add key="C_caps_included" value="Ç,C" />
		<add key="n_included" value="ñ,n" />
		<add key="N_caps_included" value="Ñ,N" />
		<add key="e_included" value="è,é,ē,ê,ë,e" />
		<add key="E_caps_included" value="È,É,Ē,Ê,Ë,E" />
		<add key="u_included" value="û,ú,ū,ü,ù,u" />
		<add key="U_caps_included" value="Û,Ú,Ū,Ü,Ù,U" />
		<add key="i_included" value="î,í,ì,ï,ī,i" />
		<add key="I_caps_included" value="Î,Í,Ì,Ï,Ī,I" />
		<add key="o_included" value="ó,ô,ö,ò,ø,œ,ō,õ,o" />
		<add key="O_caps_included" value="Ó,Ô,Ö,Ò,Ø,Œ,Ō,Õ,O" />
		
		<add key="s_removed" value="" />
		<add key="S_caps_removed" value="" />
		<add key="a_removed" value="" />
		<add key="A_caps_removed" value="" />
		<add key="c_removed" value="" />
		<add key="C_caps_removed" value="" />
		<add key="n_removed" value="" />
		<add key="N_caps_removed" value="" />
		<add key="e_removed" value="" />
		<add key="E_caps_removed" value="" />
		<add key="u_removed" value="" />
		<add key="U_caps_removed" value="" />
		<add key="i_removed" value="" />
		<add key="I_caps_removed" value="" />
		<add key="o_removed" value="" />
		<add key="O_caps_removed" value="" />
	</appSettings>
</configuration>